.App {
  text-align: center;
  background-color: rgb(227, 255, 255);
  min-height: 100vh;
}

@keyframes wheel {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
